/node_modules
.history/
*.env
.vscode/
.DS_Store
/public/.DS_Store
/public/images/thumbnail/*
!/public/images/thumbnail/readme.md
/public/images/imagen-*
logs/*.log
/coverage/

/vendor/*
!/vendor/.htaccess